.header {
    background-color: #fcff3f;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    border-bottom: 2px solid #000000;
    box-shadow: 0px 2px 5px 0px rgb(29, 29, 29);
}

.header-content {
    display: flex;
    flex-direction: column; /* Ensure h1 and h2 are stacked */
    align-items: center; /* Center h1 and h2 horizontally */
}

.header h1 {
    font-size: 32px;
    margin: 0; /* Remove default margin */
    margin-bottom: 10px; /* Add spacing below the title */
}

.header h2 {
    margin: 0; /* Remove default margin */
    font-size: 24px;
}

.home_btn,
.new_post_btn {
    text-decoration: none;
    color: #000000;
    margin: 0 5px; /* Spacing between links */
    font-weight: bold;
}

.home_btn:hover,
.new_post_btn:hover {
    text-decoration: underline; /* Optional hover effect */
}

.cnt_btn {
    display: block; 
    margin-bottom: 10px; 
    text-decoration: none; 
    color: #000; 
    padding: 8px 12px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    text-align: center;
    width: 200px;
}
